:root {
  --main-bg-color: lightcoral;
  --main-bg-color-01: lightgreen;
  --main-bg-color-02: lightblue;
  --main-bg-color-03: lightyellow;
}

.dark-mode {
  background-color: black;
  color: white;
