@import "_base.css";

.outer-grid {
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  background-color: lightcoral;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AppName {
  background-color: red;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  overflow-y: scroll;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  background-color: lightpink;
  position: fixed;
  width: 100vw;
}

img {
  height: 50px;
  width: 50px;
}

.Card {
  border: 2px solid black;
  width: 80vw;
  height: auto;
}

h2 {
  border: 1px ridge yellow;
}
