@import '_base.css';


.header {
    background-color: red;
}

.footer {
    background-color: yellow;
    padding: 10px 16px;
}

ul {
    list-style-type: none;
}

content {
    overflow-y: scroll;
}



@media only screen and (max-width: 380px) {
    .content {
      background-color: lightblue;
    }
  }    
